body { padding-top:50px; }

#content-views { position:relative; }

.ng-enter, .ng-leave { width:100%; position:absolute; }
.ng-enter {
-webkit-animation:fadeIn 1.2s both ease-in;
-moz-animation:fadeIn 1.2s both ease-in;
animation:fadeIn 1.2s both ease-in;
}
.ng-leave {
-webkit-animation:fadeOut 0.5s both ease-in;
-moz-animation:fadeOut 0.5s both ease-in;
animation:fadeOut 0.5s both ease-in;
}